@import 'result';
@import 'reset';

*{
    font-family: Arial, Helvetica, sans-serif !important;
}
body{
    position: relative;
    height: 100vh;
}
.generate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрування по вертикалі */
    height: 100vh; /* Висота на весь екран */
}


.btn{
    padding: 10px 75px;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: lightgreen;
}